<div class="payment-form-container">
  <form id="payment-form" class="payment-form" [formGroup]="paymentForm">
    <div class="form-row">
      <div class="form-field">
        <mat-form-field>
          <mat-label>Description</mat-label>
          <input matInput type="text" id="description" formControlName="description" required>
          <mat-error *ngIf="paymentForm.get('description')!.invalid">Description is required.</mat-error>
        </mat-form-field>
      </div>
      <div class="form-field">
        <mat-form-field>
          <mat-label>Currency</mat-label>
          <mat-select formControlName="currency" required class="currency">
            <mat-option *ngFor="let currency of allowedCurrencies" [value]="currency">{{ currency }}</mat-option>
          </mat-select>
          <mat-error *ngIf="paymentForm.get('currency')!.invalid">Currency is required.</mat-error>
        </mat-form-field>
      </div>
      
    </div>
    <div class="form-field">
      <label for="card-element">Card Details</label>
      <div id="card-element" class="card-field">
        <!-- Card element will be mounted here -->
      </div>
    </div>
    <button mat-raised-button color="primary" type="submit" (click)="handleSubmit($event)" [disabled]="paymentForm.invalid">Submit Payment</button>
  </form>
</div>
