.payment-form-container {
  width: 500px;
  margin: 50px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.payment-form {
  margin-top: 20px;
}

.form-row {
  display: flex;
  justify-content: space-between;
}

.form-field {
  padding-bottom: 20px;
  width: 100%;
  padding-right: 10px;
}

.currency {
  height: 44px;
}

.card-field {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 5px;
}

.payment-form label {
  display: block;
  margin-bottom: 5px;
}

.payment-form input[type="number"],
.payment-form input[type="text"],
.payment-form mat-form-field {
  width: 100%;
  padding: 5px;
  margin-bottom: 10px;
}

.payment-form button {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #4285F4;
  color: #fff;
  border: none;
  cursor: pointer;
}

.payment-form button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}
