<h2>products</h2>
<table mat-table [dataSource]="products" class="mat-elevation-z8" >
    <!--<ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> Id </th>
      <td mat-cell *matCellDef="let customers"> {{customers.id}} </td>
    </ng-container>-->
  
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Name</th>
      <td mat-cell *matCellDef="let products"> {{products.name}} </td>
    </ng-container>

    <ng-container matColumnDef="inStock">
      <th mat-header-cell *matHeaderCellDef> In stock </th>
      <td mat-cell *matCellDef="let products"> {{products.inStock}} </td>
    </ng-container>
  
    <ng-container matColumnDef="price">
      <th mat-header-cell *matHeaderCellDef> Price </th>
      <td mat-cell *matCellDef="let products"> {{products.price}} </td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef> Actions </th>
      <td mat-cell *matCellDef="let products">
        <button mat-icon-button color="accent" aria-label="Example icon button with a menu icon"  [matMenuTriggerFor]="menu">
          <mat-icon>menu</mat-icon>
          <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="onUpdate(products)">Update</button>
            <button mat-menu-item (click)="onDelete(products)">Delete</button>
          </mat-menu>
        </button>
      </td>
    </ng-container>
  
  <tr mat-header-row *matHeaderRowDef="displayedColumns">  
  </tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"> </tr>
  </table>