<div class="register-container">
  <div class="register-card">
    <h2 class="register-heading">Change Credentials</h2>
    <form [formGroup]="formGroup" class="register-form">
      <div class="form-group">
        <mat-form-field class="form-field">
          <input matInput id="username" type="text" formControlName="username" required minlength="8">
          <mat-error *ngIf="formGroup.controls.username.errors?.['required']">Username is required.</mat-error>
          <mat-error *ngIf="formGroup.controls.username.errors?.['minlength']">Username must be at least 8 characters long.</mat-error>
          <label for="username">New Username</label>
        </mat-form-field>
      </div>
      <div class="form-group">
        <mat-form-field class="form-field">
          <input matInput id="password" type="password" formControlName="password" required minlength="8">
          <mat-error *ngIf="formGroup.controls.password.errors?.['required']">Password is required.</mat-error>
          <mat-error *ngIf="formGroup.controls.password.errors?.['minlength']">Password must be at least 8 characters long.</mat-error>
          <label for="password">New Password</label>
        </mat-form-field>
      </div>
      <div class="form-group">
        <mat-form-field class="form-field">
          <input matInput id="confirmPassword" type="password" formControlName="confirmPassword" required minlength="8">
          <mat-error *ngIf="formGroup.controls.confirmPassword.errors?.['required']">Confirm Password is required.</mat-error>
          <mat-error *ngIf="formGroup.controls.password.errors?.['minlength']">Password must be at least 8 characters long.</mat-error>
          <label for="confirmPassword">Confirm New Password</label>
        </mat-form-field>
      </div>
      
    </form>
    <div class="form-group">
      <button mat-flat-button type="submit" [disabled]="formGroup.invalid" class="submit" (click)="onChangeCredentials()">Change</button>
    </div>    
  </div>
</div>
