<div class="register-container">
  <div class="register-card">
    <h2 class="register-heading">Login</h2>
    <form [formGroup]="formGroup" class="register-form">
      <div class="form-group">
        <mat-form-field class="form-field">
          <label for="username">Username</label>
          <input matInput id="username" type="text" formControlName="username" required>
        </mat-form-field>
      </div>
      <div class="form-group">
        <mat-form-field class="form-field">
          <label for="password">Password</label>
          <input matInput id="password" type="password" formControlName="password" required>
        </mat-form-field>
      </div>
    </form>
    <div class="form-group">
      <button type="submit" (click)="login()">Login</button>
    </div>
    <p class="register-text">Not our customer yet? <a href="/register">Register</a></p>
  </div>
</div>
  