.register-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f1f1f1;
}

.register-card {
  background-color: #fff;
  width: 400px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.register-heading {
  text-align: center;
  padding: 20px;
  margin: 0;
  font-size: 24px;
  color: #333;
  border-bottom: 1px solid #ddd;
}

.register-form {
  padding-left: 25px;
}

.form-group {
  position: relative;
  margin: 10px 0;
}

input {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 4px;
  background-color: #f5f5f5;
  font-size: 16px;
  color: #333;
}

label {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-150%);
  font-size: 16px;
  color: #888;
  pointer-events: none;
  transition: 0.2s ease all;
}

input:focus,
input:valid {
  outline: none;
}

input:focus + label,
input:valid + label {
  top: -12px;
  left: 6px;
  font-size: 12px;
  color: #7d6ac8;
}

button {
  display: block;
  width: 100%;
  padding: 12px;
  background-color: #7d6ac8;
  color: rgb(215, 40, 40);
  border: none;
  border-radius: 4px;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
}

button:hover {
  background-color: #c0a0dd;
}

.register-text {
  text-align: center;
  margin-top: 10px;
}

.register-text a {
  color: #4894ca;
  text-decoration: none;
}

.register-text a:hover {
  text-decoration: underline;
}

.form-field{
  width: 93%;
}

.submit {
  display: block;
  width: 80%;
  margin: 0 auto;
  padding: 12px;
  background-color: #7d6ac8;
  color: rgb(83, 47, 126);
  border: none;
  border-radius: 4px;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
}

.submit:hover {
  background-color: #c0a0dd;
}
