<div *ngIf="role == 'Admin' ">
  <button mat-button (click)="allOrders()">See All Orders</button>
</div>


<div class="orders-container">
<table class="orders-table">
    <thead>
      <tr>
        <th>Order Id</th>
        <th>Order Date</th>
        <th>Order Price</th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngFor="let order of orders">
        <tr (click)="toggleOrderItems()" [class.expanded-row]="isOrderExpanded()">
          <td>{{ order.id }}</td>
          <td>{{ order.orderDate }}</td>
          <td>{{ order.price }}</td>
        </tr>
        <tr *ngIf="isOrderExpanded()">
          <td colspan="3">
            <table class="nested-table">
              <thead>
                <tr >
                  <th>Item Name</th>
                  <th>Quantity</th>
                  <th>Price</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of getOrderItemsValues(order)">
                  <td>{{ item.product?.name }}</td>
                  <td>{{ item.quantity }}</td>
                  <td>{{ item.product?.price }}</td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
      </ng-container>
    </tbody>
  </table>
</div>
  