<div class="top-bar">
  <div class="logo">
    <h2>Good Vibez</h2>
  </div>
  <div class="user-actions">
    <button *ngIf="token !== null" (click)="redirect('login')">Logout</button>
    <button *ngIf="token === null" (click)="redirect('login')">Login</button>
  </div>
</div>

<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<mat-sidenav-container class="side-nav-container" *ngIf="token !== null">
  <mat-sidenav opened mode="side" class="side-nav">
    <div *ngIf="token != null">
      <mat-nav-list *ngIf="role === 'Regular'">
        <div class="nav-header">
          <mat-icon class="nav-icon">account_circle</mat-icon>
          <span>Customer Profile</span>
        </div>
        <a mat-list-item routerLink="/profile" >
          <mat-icon class="nav-icon">person</mat-icon>
          <span>Profile</span>
        </a>
        <a mat-list-item routerLink="/products" >
          <mat-icon class="nav-icon">shopping_basket</mat-icon>
          <span>Products</span>
        </a>
        <a mat-list-item (click)="onCart()" >
          <mat-icon class="nav-icon">shopping_cart</mat-icon>
          <span>My Cart</span>
        </a>
        <a mat-list-item routerLink="/orders" >
          <mat-icon class="nav-icon">assignment_turned_in</mat-icon>
          <span>Orders</span>
        </a>
      </mat-nav-list>
      <mat-nav-list *ngIf="role === 'Admin'">
        <div class="nav-header">
          <mat-icon class="nav-icon">account_circle</mat-icon>
          <span>Manager Profile</span>
        </div>
        <a mat-list-item routerLink="/profile" >
          <mat-icon class="nav-icon">person</mat-icon>
          <span>Profile</span>
        </a>
        <a mat-list-item (click)="onCart()" >
          <mat-icon class="nav-icon">shopping_cart</mat-icon>
          <span>My Cart</span>
        </a>
        <a mat-list-item routerLink="/orders" >
          <mat-icon class="nav-icon">assignment_turned_in</mat-icon>
          <span>Orders</span>
        </a>
        <a mat-list-item routerLink="/customers" >
          <mat-icon class="nav-icon">people</mat-icon>
          <span>Users</span>
        </a>
        <a mat-list-item routerLink="/products" >
          <mat-icon class="nav-icon">shopping_basket</mat-icon>
          <span>Products</span>
        </a>
        <a mat-list-item routerLink="/warehouses">
          <mat-icon class="nav-icon">store</mat-icon>
          <span>Warehouse</span>
        </a>
        <a mat-list-item routerLink="/stock" >
          <mat-icon class="nav-icon">storage</mat-icon>
          <span>Stock</span>
        </a>
        <a mat-list-item routerLink="/productTypes" >
          <mat-icon class="nav-icon">category</mat-icon>
          <span>Product Types</span>
        </a>
      </mat-nav-list>
    </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>

<router-outlet></router-outlet>

